.cards-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 1rem 2.5rem;
 gap: 1rem;
}
.card-box{
margin-top: 1rem;
}
.swiper-container{
    height: auto;
    width: 280px;
    overflow: hidden;
}
.card-img{
    height: 283px ;
    width:280px ;
    object-fit: cover;
    border-radius: 0.7rem;
}
.card-info-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-rating{
display: flex;
align-items: center;
gap:0.5rem
}
.card-title,  .card-rating p{
    margin-top: 0.2rem;
}
.card-title,
.card-rating p{
    margin-bottom: 0.2rem;
}

  
  .card-box .swiper-pagination-bullet-active {
    background-color: var(--white) !important;
  }
  


  @media only screen and (max-width: 1265px) {
    .swiper-container,
    .card-img {
      width: 22vw;
      height: 22vw;
    }
  }   
   
  @media only screen and (max-width: 1204px) {
    .swiper-container,
    .card-img {
      width: 21vw;
      height: 21vw;
    }
  } 

  @media only screen and (max-width: 1000px) {
    .swiper-container,
    .card-img {
      width: 280px;
      height: 283px;
    }
  } 

  @media only screen and (max-width: 968px) {
    .swiper-container,
    .card-img {
      width: 28vw;
      height: 28vw;
    }
  }
  
  @media only screen and (max-width: 804px) {
    .swiper-container,
    .card-img {
      width: 26vw;
      height: 26vw;
    }
  } 

  @media only screen and (max-width: 800px) {
    .swiper-container,
    .card-img {
      width:42vw;
      height:42vw;
    }
  } 
  @media only screen and (max-width: 704px) {
    .swiper-container,
    .card-img {
      width:41vw;
      height:41vw;
    }
  } 
  
   @media only screen and (max-width: 626px) {
    .swiper-container,
    .card-img {
      height: 50%;
      max-height: 400px;
      width: 90vw;
    }
  
    .cards-flex {
      padding: 0px;
    }
  } 