.cards-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 1rem 2.5rem;
 gap: 1rem;
}
.card-box{
margin-top: 1rem;
}
.card-img{
    height: 283px ;
    width:283px ;
    object-fit: cover;
    border-radius: 0.7rem;
}
.card-info-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-rating{
display: flex;
align-items: center;
gap:0.5rem
}
.card-title,  .card-rating p{
    margin-top: 0.2rem;
}
.card-title,
.card-rating p{
    margin-bottom: 0.2rem;
}