.navbar{
    display: flex;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}
.navbar-logo{
    height: 3rem;
}
.search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.70rem;
    border: 1px solid var(--grey);
    border-radius: 3rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
.search-bar:hover{
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 8%);
    transition: all 0.2s ease;
    cursor: pointer;
    /* transform: scale(1.001); */
}
.search-bar-text{
    font-size: 0.85rem;
    font-weight: 600;
    word-spacing: -1px;
    border-right: 1px solid var(--grey);
    padding-right: 0.5rem;
}
.search-bar-text2{
    font-size: 0.85rem;
    font-weight: 600;
    word-spacing: -1px;
    padding-right: 0.5rem;
    color: var(--font-grey);
}
.search-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--theme);
    border-radius: 50%;
    padding:0.25rem;
}
.search-icon-div:hover{
background:#ff385dd0 ;
}
.search-icon{
    color:#fff;
}
.profile-container{
    display: flex;
    justify-content: flex-end;
    gap:0.5rem;
    align-items: center;
    /* border:1px solid red; */
}
.airbnb-your-home{
    padding: 0.6rem  1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor:pointer;
    font-size: 0.9rem;
   /* border: 1px solid blue; */
}
.airbnb-your-home:hover{
   background-color: var(--light-grey);
}
.globe-div{
/* border: 1px solid red; */
padding: 0.5rem  1rem;
border-radius: 2rem;
}
.globe-div:hover{
background-color: var(--light-grey);
}
.globe-div .globe-icon{
font-size: 1.2rem;    
}

/* ##### Profile Menu ####### */
.profile-menu-flex{
display: flex;
justify-content: space-between;
align-items: center;
gap: 0.25rem;
color: var(--font-grey);
border: 1px solid var(--grey);
padding: 0.5rem;
border-radius: 2rem;
}
.profile-menu-flex:hover{
    box-shadow: 2px 2px 5px var(--grey);
}
#basic-menu .menu-items{
    font-size: 0.9rem;
    color: var(--font-grey);
}

/* ####### Mobile ####### */
.bottom-nav{
    display: none;
}

@media only screen and (max-width: 800px) {

.search-bar,
.airbnb-your-home{
display: none;
}
.bottom-nav{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    border-top: 1px solid var(--grey);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

}
  }
